<div>
  <ion-searchbar placeholder="소모품 명칭" autocomplete="on" debounce="500" (ionInput)="filterItems($event)" #searchbar>
  </ion-searchbar>
  <ion-list *ngIf="listActive" class="ion-margin">
    <ion-item *ngIf="items.length == 0">검색어로 시작하는 단어가 없습니다.</ion-item>
    <ion-item *ngFor="let item of items" (click)="fillSearchbarText(item.title)" style="cursor: pointer;">
      <ion-label class="ion-text-wrap">
        <strong>{{item.title}}</strong>
        <ion-text *ngIf="item.subTitles && item.subTitles.length" color="medium">
          <span *ngFor="let subTitle of item.subTitles">
            ({{subTitle}})
          </span>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</div>