<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-no-padding">
      <ion-searchbar placeholder="시리얼 넘버, 장소" [(ngModel)]="deviceTerm" (ionChange)="emitFilterTerm(deviceTerm)">
      </ion-searchbar>
      <app-autocomplete-searchbar [itemViewArr]="itemViewArr" (itemSelected)="showSendButton($event)"
        *ngIf="selectedDevice">
      </app-autocomplete-searchbar>
    </ion-title>
    <div slot="secondary" class="ion-padding" *ngIf="selectedDevice && selectedStock">
      <ion-button fill="solid" color="light" type="button" (click)="supplySotck()">
        <ion-icon color="primary" name="paper-plane"></ion-icon>
        <!-- <ion-badge color="danger">1</ion-badge> -->
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>